<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="UpdateInterval" value="5000"/>
    <add key="TeamCityHost" value=""/>
    <add key="TeamCityUser" value=""/>
    <add key="TeamCityPassword" value=""/>
    <add key="SaveFile" value="watchedbuilds.sav"/>
  </appSettings>
</configuration>
